body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: f2f2f2;
    column-gap: 20px;
    row-gap: 10px;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    margin-left: 40px;
}

.grid-item {
    text-align: center;
    align-content: space-around;
    background-color: white;
    box-shadow: #d9d9d9;
    width: 260px;
    height: 350px;
    
}

.top1 {
    width: auto;
    height: 3px;
    background-color: #00cc99;
}
.top2 {
    width: auto;
    height: 3px;
    background-color: #0099ff;
}
.top3 {
    width: auto;
    height: 3px;
    background-color: #ff99cc;
}
.top4 {
    width: auto;
    height: 3px;
    background-color: #660000;
}
.top5 {
    width: auto;
    height: 3px;
    background-color: #6600ff;
}
.top6 {
    width: auto;
    height: 3px;
    background-color: #33ccff;
}
.top7 {
    width: auto;
    height: 3px;
    background-color: #ff6666;
}
.top8 {
    width: auto;
    height: 3px;
    background-color: #ff5c33;
}

.grid-item img {
    margin-top: 10px;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    padding-bottom: 10px;
    
}
.html_button button{
    width: 40x;
    height: 13px;
    font-size: 12px;
    text-align: center;
    text-rendering: auto;
    vertical-align: middle; 
    line-height: 1px;  
}
.grid-item h2{
    font-size: 18px;
}
.grid-item p{
    font-size: 14px;
    color: darkgray;
    padding-top:-10px;
    padding-bottom: 10px;
}
.email_id p{
    color: #0099ff;
    margin-bottom: -5px;    
}
.website p{
    color:#ff3300;
}
.btn btn-light{
    font-size: bold;
}